:root{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary: #9d0e02;
    --secondary: indigo;
    --bg-1: linear-gradient(135deg,#f6f8ff 0%, #eef7f6 100%);
    --primary: #9d0e02;
    --accent: #00C2A8;
    --muted: #6b7280;
    --card-bg: #ffffff;
    --glass: rgba(255,255,255,0.7);
    --bg:#fff8f6;
    --terracota:#9d0e02;
    --terracota-dark:#9b3f35;
    --morado:indigo;
    --morado-dark:#4a2c74;
    --warm:#ff7a45;
    --cool:#3b5bff;
    --muted:#6b7280;
    --card:#ffffff;
    --glass:rgba(255,255,255,0.7);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    padding-top: 70px; /* Debe ser igual a la altura del header */

}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: 2em;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}